<h3 class="user-header">Hosted Events</h3>
<% hosted_events = @user.events %>
<% sorted_hosted_events = hosted_events.sort_by { |event| event['date'] }.reverse %>
<% sorted_hosted_events.each do |event| %>
  <div class="user-event-container">
    <ul class="user-event-list">
      <li class="user-event-title"><%= event.title %></li>
      <li class="user-event-date"><%= event.date.strftime("%B %-d %Y") %></li>
      <br>
      <button class="user-details-button"><%= link_to "Details", event_path(event.id) %>
    </ul>
  </div>
<% end %>