<h3>Past Events:</h3>
  <% past_invites = @user.attended_events.where("date < ?", Time.current) %>
  <% past_invites.each do |event| %>
    <li>Event Date: <%= event.date %></li>
    <li>Event Name: <%= event.title %></li>
    <li>Description: <%= event.description %></li>
    <%= link_to 'View Event', event_path(event.id) %>
    </br>
    </br>
  <% end %>