<h3 class="user-header">Upcoming Events</h3>
<% upcoming_invites = @user.attended_events.where("date >= ?", Time.current) %>
<% upcoming_invites.each do |event| %>
  <div class="user-upcoming-container">
    <ul class="user-event-list">
      <li class="user-event-title"><%= event.title %></li>
      <li class="user-event-date"><%= event.date.strftime("%B %-d %Y") %></li>
      <br>
      <button class="user-details-button"><%= link_to "Details", event_path(event.id) %>
    </ul>
  </div>
<% end %>