<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div>
  <%= @user.email %>
</div>
<div>
  <% @user.events.each do |event| %>
    <li>Event Date: <%= event.date %></li>
  <% end %>
</div>