<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div>
  <p> Email address:
  <%= @user.email %>
  </p>
</div>
<div>
  <p> Hosted Events:
  <% @user.events.each do |event| %>
    <li>Event Date: <%= event.date %></li>
  <% end %>
  </p>
</div>
<p>
</p>
<div>
  <% upcoming_event_invitations = [] %>
  <% past_event_invitations = [] %>

  <% @user.invitations.each do |invitation| %>
    <% if invitation.event.date > Time.now %>
      <% upcoming_event_invitations.push(invitation) %>
    <% else %>
      <% past_event_invitations.push(invitation) %>
    <% end %>
  <% end %>
  <p>Upcoming Events:
    <% upcoming_event_invitations.each do |invitation| %>
      <li><%= invitation.event.date %></li>
    <% end %>
  </p>
  <p>Past Events:
    <% past_event_invitations.each do |invitation| %>
      <li><%= invitation.event.date %></li>
    <% end %>
  </p>
</div>