<p><%= link_to 'Edit This Event', edit_event_path(@event) %></p>
<p><%= link_to 'Delete This Event', event_path(@event), 
              method: :delete, 
              data: { confirm: "Are you sure you want to delete this event?" } %>
</p>
