<h3 id="past">Past Events</h3>
  <% @past_events.each do |event| %>
  <div class="past-event-container">
    <ul class="event-list">
      <li class="event-title"><%= event.title %></li>
        <li class="event-date"><%= event.date.strftime("%B %-d %Y") %></li>
        <li>Hosted by: <%= event.creator.email %></li>
        <br>
        <button class="view-link"><%= link_to "Details", event_path(event.id) %>
    </ul>
    </div>
  <% end %>
  