<% if current_user.attended_events.include? @event %>
  <%= button_to 'Remove from Event', invitation_path(current_user.invitations.find_by!(event_id: @event.id)), 
                 method: :delete, data: { confirm: 'Do you really want to remove yourself from this event?' } %>
<% else %>
  <p>You are not currently attending this event</p>
<% end %>