<h3 id="upcoming">Upcoming Events</h3>
  <% @upcoming_events.each do |event| %>
    <div class="event-container">
      <ul class="event-list">
        <li class="event-title"><%= event.title %></li>
        <li class="event-date"><%= event.date.strftime("%B %-d %Y") %></li>
        <li>Hosted by: <%= event.creator.email %></li>
        <br>
        <button class="view-link"><%= link_to "Let's Go!", event_path(event.id) %>
      </ul>
    </div>
  <% end %>
