<h1>Private Events #show</h1>

<div>
<li>Event Date: <%= @event.date %>
</li>
<li>Event Creator: <%= @event.creator.email %>
</li>
<li>Attend this Event: <%= render 'invitation_form' %>
</li>
<li>Users attending this event: 
  <% @event.users.each do |user| %>
    <%= user.email %>
  <% end %>
</li>
</div>
