<h1>Private Events #show</h1>

<div>
<li>Event Date: <%= @event.date %>
</li>
<li>Event Creator: <%= @event.creator.email %>
</li>
<li>Attend this Event:
  <% if user_signed_in? %>
    <%= render 'invitation_form' %>
  <% else %>
    <p> Log in to attend this event</p>
  <% end %>  
</li>
<li>Users attending this event: 
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email %>
  <% end %>
</li>
</div>
