/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

h2 {
  text-transform: lowercase;
  font-size: 35px;
  border-bottom: 3px solid #18509d;
  color: #020304;
}

 .navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: #18509d;
 }

.logo {
  flex-shrink: 0;
  color: #fff200;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 3px solid white;
  font-size: 30px;
  font-family: Times, serif;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  color: #fff200;
}

.nav-links {
  display: flex;
  list-style: none;
  flex-shrink: 0;
}

.nav-links a {
  flex-shrink: 0;
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

.nav-links a:hover {
  color:#fff200;
}

.footer {
  background-color: #18509d;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-text a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px;
}

.main-content {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.notice,
.alert {
  color: red;
}

.event-index {
  display: flex;
  gap: 24px;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding: 25px;
}

.event-container {
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  background-color: #5d85ba;
  color: #fff200;
  min-width: 275px;
}

.event-list {
  list-style: none;
  padding-left: 0;
  color: white;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.event-date {
  color: #fff200;
  padding-bottom: 3px;
}

.view-link {
  background-color: #fff200;
  border: none;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
}


.view-link a {
  color: black;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 16px;
}

#upcoming, #past {
  align-self: center;
  text-transform: lowercase;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-decoration: underline #18509d;
}

.past-event-container {
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  background-color: #6d7a88;
  min-width: 275px;
}

.user-container {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
}

.user-event-container {
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  background-color: orange;
  min-width: 275px;
}

.user-event-list {
  list-style: none;
  padding-left: 0;
  color: black;
}

.user-header {
  align-self: center;
  text-transform: lowercase;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-decoration: underline #18509d;
}

.user-details-button {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
}

.user-details-button a {
  color: black;
  font-weight: bold;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 16px;
}

.user-event-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
}

.user-event-date {
  padding-bottom: 3px;
  font-family: Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.user-upcoming-container {
  background-color: #5d85ba;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  min-width: 275px;
}

.user-past-container {
  background-color: #6d7a88;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  min-width: 275px;
}

.show-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  gap: 24px;
  border-radius: 10px;
  padding: 25px;
}

#show-title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: underline #18509d;
  text-underline-offset: 7px;
}

#show-date {
  font-size: 24px;
  text-align: center;
}

.show-container h4 {
  margin: 10px 30px 0px 30px;
}

.event-alert {
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px 35px 20px 35px;
  background-color: #fff200;
  color: #36454f
}

.invitation-container {
  background-color: orange;
  color: white;
  padding: 25px;
  border-radius: 15px;
}

.invitation-button {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 16px;
}

.guest-list {
  list-style: none;
  padding-left: 0;
}

.creator-link {
  border-radius: 10px;
  border: none;
  background-color: black;
  margin: 10px;
  padding: 10px;

}

.creator-link a {
  text-decoration: none;
  color: white;
}